/*
 *  style.css
 *	gbMon
 *
 *  Created by michael on 14.08.14.
 *  Copyright (c) 2014 michael. All rights reserved.
 *
 */

/*
 Inspired by the dribble shot http://dribbble.com/shots/1285240-Freebie-Flat-Pricing-Table?list=tags&tag=pricing_table
 */

/*--------- Font ------------*/
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
body, html {
    background-color: #F2F3F4;
    color: #333333;
    /* font-family:'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif; */
	font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 21px;
    margin: 0px;
    text-align: center;
    word-spacing: -1px;
}
#wrapper {
    height: 100%;
    min-height: 660px;
    position: relative;
}
#content {
    padding: 26px;
}
#main {
    background: #FFFFFF;
    border: 1px solid #D5D5D6;
    border-top-color: #E0E1E2;
    border-bottom-color: #C0C1C2;
    margin: 0px auto 0px auto;
    padding: 20px 26px 19px 26px;
    width: 930px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
h1 {
    color: #9C9E9F;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: normal;
    line-height: 36px;
    margin: 0px 0px 8px 0px;
}
h3 {
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    font-weight: normal;
    line-height: 36px;
    margin: 0px 0px 8px 0px;
}

p {
    line-height: 21px;
    margin: 0px;
}
#main img {
    margin-bottom: 40px;
    margin-top: 48px;
}
#navigation {
    color: #646464;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 1rem;
	margin-bottom: 1rem;
    font-weight: normal;


}
a, a:link, a:visited, a:active {
    color: #4B8ABA;
    text-decoration: none;
    margin: 3px;
}
a:hover {
    text-decoration: underline;
}
#footer {
    bottom: 6px;
    left: 0;
    position: absolute;
    right: 0;
}
#footer1{
    left: 0;
    right: 0;
}
#footer a #footer1 a {
    font-size: 12px;
    color: #B1B1B1;
}
#tableDHT {
    border-collapse: collapse;
}
#tableDHT td, #tableDHT th {
    font-size: 1em;
    padding: 3px 5px 3px 5px;
}
#tableDHT td.small th.small {
    font-size: 0.7em;
    text-align: left;
    line-height: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#tableDHT th {
    font-size: 1em;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
#tableDHT th.big {
    font-size: 3.2em;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
}
#tableDHT th.medium {
    font-size: 1.3em;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
}
#tableDHT tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
    padding-top: 3px;
    padding-bottom: 3px;
}
.box {border:2px solid #0094ff;}
.box h2 {padding:10px;}
.box p {color:#333;padding:10px;}
.box {
    background: #F2F3F4;
    border: 1px solid #D5D5D6;
    border-top-color: #E0E1E2;
    border-bottom-color: #C0C1C2;
    margin: 0px auto 0px auto;
    padding: 20px 26px 19px 26px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}




* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

body {
    background: #F2F2F2;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1;
    font-size: 16px;
}
.wrapper {

}
.pricing-table {
    width: 90%;
    margin: 30px auto;
    text-align: center;
    padding: 10px;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.block{
    width: 28%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	/*    border: 1px solid red;*/
}

.block1{
    width: 28%;
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	/*    border: 1px solid red;*/
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 10px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{
    font-size: 4rem;
    letter-spacing: 8px;
    font-weight: bold;
}
.price sup{
    font-size: 1.5rem;
    position: absolute;
    top: 12px;
    left: -12px;
}

#small {
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
	padding: 0px 3px;
}


#big{
	font-family: 'Droid Sans', sans-serif;
	color: #FFFFFF;
    font-size: 4.2rem;
    letter-spacing: 4px;
    font-weight: bold;
	padding: 10px 10px 10px 10px;
}

#heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}

.features1{
	position: relative;
	list-style-type: none;
    padding:0px 0px;
    font-size: 0.9rem;
}

.features1 li{
    padding:3px 10px;
}

.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding:30px 22%;
    font-size: 0.9rem;
}

.features li{
    padding:15px 0;
    width: 100%;
}



.features li span{
	padding-right: 0.4rem;
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
}
/*PERSONAL*/
.personal .title{
    background: #78CFBF;
}
.personal .content,.personal .pt-footer{
    background: #82DACA;
}
.personal .content:after{
	border-top-color: #82DACA;
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #3EC6E0;
}
.professional .content,.professional .pt-footer{
    background: #53CFE9;
}
.professional .content:after{
	border-top-color: #53CFE9;
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #E3536C;
}
.business .content,.business .pt-footer{
    background: #EB6379;
}
.business .content:after{
	border-top-color: #EB6379;
}
.business .pt-footer:after {
	border-top-color: #FFFFFF;
}
